# Environment
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Next.js
.next/
out/
build/
next-env.d.ts
*.tsbuildinfo

# Prisma
prisma/*.db

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Misc
.turbo/
coverage/
